* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-image: url(/img/skyBg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
}

@media (max-width: 650px) {
  html, body {
    background-repeat: repeat-y;
  }
}
ul, li {
  list-style: none;
}

.ham-menu {
  display: none;
  position: absolute;
  top: 2%;
  left: 8%;
}

.ham_bar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px whitesmoke;
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: unset;
  background-image: url(../img/icons8-adventures.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ham_bar_all {
  position: absolute;
  top: 130%;
  left: -120%;
  display: none;
}

@media (max-width: 869px) {
  .ham-menu {
    display: block;
  }
  #ham-menu-switch:checked ~ .ham_bar_all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ham_bar_all li {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px whitesmoke;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    line-height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: unset;
    margin-bottom: 20px;
  }
}
a {
  text-decoration: none;
  color: unset;
}

.side-menu {
  position: absolute;
  display: flex;
  justify-content: unset;
  align-items: unset;
  flex-direction: column;
  top: 6%;
  left: 6%;
}

.side-menu li {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px whitesmoke;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  line-height: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: unset;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

@media (max-width: 1440px) {
  .side-menu li {
    width: 100px;
    height: 35px;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1280px) {
  .side-menu {
    left: 2%;
  }
}
@media (max-width: 1024px) {
  .side-menu {
    position: fixed;
    top: 2%;
    padding: 0 10px;
    margin-bottom: 10px;
    flex-direction: row;
  }
  .side-menu li {
    margin-bottom: unset;
    margin-right: 30px;
  }
}
@media (max-width: 869px) {
  .side-menu {
    display: none;
  }
}
header li:hover {
  cursor: pointer;
  transform: translate(-5px, -5px);
}

main {
  position: absolute;
  top: 5%;
  left: 20%;
  width: 45%;
  height: 75%;
  min-width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

@media (max-width: 1280px) {
  main {
    left: 18%;
  }
}
@media (max-width: 1024px) {
  main {
    top: 15%;
    left: 50%;
    width: 50%;
  }
}
@media (max-width: 869px) {
  main {
    top: 12%;
    left: 25%;
    min-width: 60%;
    justify-content: flex-start;
  }
}
.scroll {
  overflow-y: scroll;
}

main img {
  width: 80px;
  height: 80px;
  transform: translateX(-70%);
  margin-bottom: 20px;
}

.card {
  width: 110px;
  height: 250px;
  border-radius: 10px;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
  line-height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  background: linear-gradient(180deg, white, #87CEFA);
  margin: 0 20px 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.card hr {
  width: 100%;
}

.card li {
  margin-bottom: 10px;
}

footer {
  position: fixed;
  top: 78%;
  left: 28%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 12px;
  font-weight: 100;
  color: white;
  line-height: 10px;
}

.timeContent {
  transform: translate(-160%, 20%);
}

.timer1 {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  box-shadow: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: none;
}

@media (max-width: 1600px) {
  footer {
    left: 20%;
  }
  .timeContent {
    transform: translate(-100%, 15%);
  }
}
@media (max-width: 1440px) {
  .timeContent {
    transform: translate(-100%, 15%);
  }
  .timer1 {
    width: 200px;
    height: 100px;
    border-radius: none;
    box-shadow: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 20px;
  }
}
@media (max-width: 1024px) {
  footer {
    left: 7%;
    margin-right: 50px;
  }
  .timeContent {
    transform: translate(-40%, 15%);
  }
}
@media (max-width: 624px) {
  footer {
    flex-direction: column;
  }
  .timeContent {
    transform: translate(10%, 15%);
    margin-bottom: 20px;
  }
}
.svg-map {
  position: absolute;
  top: 20%;
  left: 66%;
}

@media (max-width: 1440px) {
  .svg-map {
    top: 10%;
    left: 63%;
  }
}
@media (max-width: 1280px) {
  .svg-map {
    left: 58%;
  }
}
@media (max-width: 1024px) {
  .svg-map {
    left: -3%;
  }
}
@media (max-width: 869px) {
  .svg-map {
    display: none;
  }
}
.svg-map path {
  fill: #FFF;
  transition: 0.5s;
  cursor: cell;
}

.svg-map path:hover {
  fill: #87CEFA;
  transform: translate(-5px, -5px);
}

nav {
  display: none;
  position: absolute;
  left: 84%;
  top: 2%;
}

.map_bar {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px whitesmoke;
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: unset;
  background-image: url(../img/icons8-place-marker.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.svg_bar {
  position: absolute;
  top: 130%;
  left: -400%;
  display: none;
  border-radius: 10px;
  opacity: 0.9;
}

@media (max-width: 869px) {
  nav {
    display: block;
  }
  #map-switch:checked ~ .svg_bar {
    display: block;
    z-index: 10;
  }
  .svg_bar path:hover {
    fill: #87CEFA;
    transform: translate(-5px, -5px);
  }
}/*# sourceMappingURL=weatherMap.css.map */